Repository hmcts/juror-public, pull requests merged in 2024-01, with the labels that each got.

#66 JDB-5491 - Redis session settings
  server/config/express.js
Labels: ns:juror, prd:juror, rel:juror-public-pr-66

#68 JDB-5491-1 - Temp session data logging
  package.json
  server/routes/steps/01-login/login.controller.js
  server/routes/steps/03-qualify/index.js
  server/routes/steps/03-qualify/qualify.controller.js
  server/routes/steps/06-assistance/assistance.controller.js
  server/routes/steps/06-assistance/index.js
  server/routes/steps/07-confirm-information/confirm-information.controller.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:juror, prd:juror, rel:juror-public-pr-68

#69 Update Jenkinsfile_CNP
  Jenkinsfile_CNP
Labels: ns:juror, prd:juror, rel:juror-public-pr-69

#79 adjust helm values
  charts/juror-public/Chart.yaml
  charts/juror-public/values.dev.template.yaml
  charts/juror-public/values.stg.template.yaml
  charts/juror-public/values.yaml
  yarn-audit-known-issues
Labels: ns:juror, prd:juror, rel:juror-public-pr-79

#80 add stg template
  charts/juror-public/values.stg.template.yaml
Labels: ns:juror, prd:juror, rel:juror-public-pr-80

#82 update vault name
  config/development.json
  config/production.json
  config/test.json
  server/components/auth/index.js
  server/components/logger/juror-transport.js
  server/components/pcqService/index.js
  server/config/express.js
  server/objects/ageSettings.js
  server/objects/appSettings.js
  server/routes/expense-calculator/confirm-information/confirm-information.controller.js
  server/routes/steps/01-login/login.controller.js
Labels: ns:juror, prd:juror, rel:juror-public-pr-82
