Repository hmcts/juror-public, pull requests merged in 2024-02, with the labels that each got.

#87 update charts
  charts/juror-public/values.stg.template.yaml
  yarn-audit-known-issues
Labels: ns:juror, prd:juror, rel:juror-public-pr-87

#88 update api endpoint
  charts/juror-public/Chart.yaml
  charts/juror-public/values.dev.template.yaml
  charts/juror-public/values.yaml
Labels: ns:juror, prd:juror, rel:juror-public-pr-88

#102 JDB-5518 - Update CSP for GA4/Tag Manager
  server/config/express.js
Labels: ns:juror, prd:juror, rel:juror-public-pr-102
